

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* FireChat */

#firechat {
   right: 0;
   height: 600px;
   max-width: 325px;
   padding: 10px;
   border: 1px solid #CCC;
   background-color: #FFF;
   margin: auto auto;
   text-align: left;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: 0 5px 25px #666;
   -moz-box-shadow: 0 5px 25px #666;
   box-shadow: 0 5px 25px #666;
}

#auth-modal {
   width: 30%;
   margin-left: -15%;
   left: 50%;
}

#user-info {
   display: block;
   margin-top: 10px;
}

#user-info a {
   color: #fff;
   text-decoration: underline;
}

/* Video JS */

#video-stream div {
   /*z-index: 1000;*/
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: 0 5px 25px #666;
   -moz-box-shadow: 0 5px 25px #666;
   box-shadow: 0 5px 25px #666
}

/* Header */
header {
   padding-left: 25% !important;
   padding-top: 50px !important;
   padding-bottom: 50px !important;
   background-color: transparent !important;
}

/** Social Icons */
@font-face {
   font-family: 'si';
   src: url('../fonts/socicon/socicon.eot');
   src: url('../fonts/socicon/socicon.eot?#iefix') format('embedded-opentype'),
   url('../fonts/socicon/socicon.woff') format('woff'),
   url('../fonts/socicon/socicon.ttf') format('truetype'),
   url('../fonts/socicon/socicon.svg#icomoonregular') format('svg');
   font-weight: normal;
   font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
   @font-face {
      font-family: si;
      src: url(../fonts/socicon/socicon.svg) format(svg);
   }
}

.soc {
   overflow: hidden;
   margin: 0;
   padding: 0;
   list-style: none;
}

.soc li {
   display: inline-block;
   *display: inline;
   zoom: 1;
}

.soc li a {
   font-family: si !important;
   font-style: normal;
   font-weight: 400;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   -o-box-sizing: border-box;
   box-sizing: border-box;
   overflow: hidden;
   text-decoration: none;
   text-align: center;
   display: block;
   position: relative;
   z-index: 1;
   width: 30px;
   height: 30px;
   line-height: 30px;
   font-size: 16px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   margin-right: 5px;
   color: #FFF;
   background-color: none;
}

.soc-icon-last {
   margin: 0 !important;
}

.soc-twitter {
   background-color: #4DA7DE;
}

.soc-twitter:before {
   content: 'a';
}

.soc-facebook {
   background-color: #3E5B98;
}

.soc-facebook:before {
   content: 'b';
}

.soc-google {
   background-color: #D93E2D;
}

.soc-google:before {
   content: 'c';
}

.soc-pinterest {
   background-color: #C92619;
}

.soc-pinterest:before {
   content: 'd';
}

/** Stream info */
.stream-info {
   padding-top: 15px;
}

.stream-info h3 {
   margin-top: 0px;
}

.live-label .label-default {
   background-color: red;
}

.views-label {
   padding-left: 0;
}

.subscribe-label {
   cursor: pointer;
}

/** Carousel */

.all-videos {
   text-align: left;
   font-size: 24px;
   font-weight: 100;
   margin-top: 75px;
}

.video-carousel {
   margin-top: 10px;
}

.video-carousel h3 {
   background: #FFF;
   color: #3498DB;
   font-size: 36px;
   line-height: 100px;
   margin: 10px;
   padding: 2%;
   position: relative;
   text-align: center;
}

.video-carousel img {
   cursor: pointer;
   margin: 10px;
   padding: 2%;
   max-width: 250px;
   height: auto;
}

.video-thumbnail {
   position: relative;
}

.video-thumbnail .play-icon{
   cursor: pointer;
   position: absolute;
   top : 50%;
   left : 50%;
   transform: translate(-50%, -50%);
}

svg:hover #play-svg{
   fill: #CC181E;
}

/** Intro Section */
.channel-intro {
   text-align: center;
   font-size: 24px;
   font-weight: 100;
   margin-bottom: 25px;
}

/** Events List */

.upcoming-webcasts {
   text-align: left;
   font-size: 24px;
   font-weight: 100;
   margin-top: 50px;
}

body {
   -webkit-transform: translate3d(0, 0, 0);
}

.list-container {
   padding: 1em;
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.list-container h1 {
   font-size: 1em;
}

ul.scale-up-hover-list {
   padding-left: .1em;
   width: 100%;
   list-style-type: none;
   font-size: 24px;
}

.scale-up-hover-list li {
   margin: 0;
   padding: .75em;
   background-color: #F0F0F0;
   border-top: none;
   border-right: 0 solid lightgray;
   border-bottom: .05em solid lightgray;
   border-left: .15em solid lightgray;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   -ms-transition: all 0.2s ease;
   transition: all 0.2s ease;
}

.scale-up-hover-list li::after {
   content: "";
   display: block;
   clear: both;
}

.scale-up-hover-list li:hover {
   border-top: none;
   border-right: .1em solid lightgray;
   border-bottom: .1em solid lightgray;
   border-left: .2em solid #858585;
   -webkit-transform: translate3d(0, 0, 0,);
   transform: translate3d(0, 0, 0,);
   -webkit-transform: scale(1.025, 1.025);
   -moz-transform: scale(1.025, 1.025);
   -o-transform: scale(1.025, 1.025);
   -ms-transform: scale(1.025, 1.025);
   transform: scale(1.025, 1.025);
}

.scale-up-hover-list li .date {
   float: left;
   margin-right: 1em;
   max-width: 20%;
   text-align: center;
}

.scale-up-hover-list li .date .day {
   display: block;
   margin: .25em 0 0;
   color: #858585;
   font-size: 1.5em;
   line-height: .75em;
   font-weight: 800;
}

.scale-up-hover-list li .date .month {
   display: block;
   margin: .005em 0;
   color: #858585;
   font-size: 0.8em;
   font-weight: 200;
}

.scale-up-hover-list li .date .time {
   display: block;
   margin: .25em 0 0;
   color: #858585;
   font-size: 1em;
   line-height: .5em;
   font-weight: 100;
}

.scale-up-hover-list li .item-info-container {
   float: left;
   max-width: 82%
}

.scale-up-hover-list li .item-info-container h1 {
   display: block;
   margin-top: 0;
   margin-bottom: 0;
   color: #555;
   font-size: .9em;
   -webkit-transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   -ms-transition: all 0.2s ease;
   transition: all 0.2s ease;
}

.scale-up-hover-list li .item-info-container p.item-description {
   display: block;
   margin: 0;
   margin-top: .05em;
   width: 75%;
   color: #555;
   font-size: 0.75em;
}

.scale-up-hover-list li .item-info-container h1:hover {
   color: #858585;
}





