

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#firechat {
   width: 20%;
   float: right;
   top: 61px;
   position: absolute;
   right: 0;
   height: 475px;
   max-width: 325px;
   padding: 10px;
   border: 1px solid #CCC;
   background-color: #FFF;
   margin: auto auto;
   text-align: left;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: 0 5px 25px #666;
   -moz-box-shadow: 0 5px 25px #666;
   box-shadow: 0 5px 25px #666;
}

#firechat .prompt {
   position: fixed; !important;
}

#auth-modal {
   width: 30%;
   margin-left: -15%;
   left: 50%;
}

#user-info {
   display: block;
   margin-top: 10px;
}

#user-info a {
   color: #fff;
   text-decoration: underline;
}















