

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* FireChat */

#firechat {
   right: 0;
   height: 600px;
   max-width: 325px;
   padding: 10px;
   border: 1px solid #CCC;
   background-color: #FFF;
   margin: auto auto;
   text-align: left;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: 0 5px 25px #666;
   -moz-box-shadow: 0 5px 25px #666;
   box-shadow: 0 5px 25px #666;
}

#auth-modal {
   width: 30%;
   margin-left: -15%;
   left: 50%;
}

#user-info {
   display: block;
   margin-top: 10px;
}

#user-info a {
   color: #fff;
   text-decoration: underline;
}

/* Video JS */

#video-stream div {
   /*z-index: 1000;*/
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: 0 5px 25px #666;
   -moz-box-shadow: 0 5px 25px #666;
   box-shadow: 0 5px 25px #666
}

/* Header */
header {
   padding-left: 25% !important;
   padding-top: 50px !important;
   padding-bottom: 50px !important;
   background-color: transparent !important;
}

/** Social Icons */
@font-face {
   font-family: 'si';
   src: url('../fonts/socicon/socicon.eot');
   src: url('../fonts/socicon/socicon.eot?#iefix') format('embedded-opentype'),
   url('../fonts/socicon/socicon.woff') format('woff'),
   url('../fonts/socicon/socicon.ttf') format('truetype'),
   url('../fonts/socicon/socicon.svg#icomoonregular') format('svg');
   font-weight: normal;
   font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
   @font-face {
      font-family: si;
      src: url(../fonts/socicon/socicon.svg) format(svg);
   }
}

.soc {
   overflow: hidden;
   margin: 0;
   padding: 0;
   list-style: none;
}

.soc li {
   display: inline-block;
   *display: inline;
   zoom: 1;
}

.soc li a {
   font-family: si !important;
   font-style: normal;
   font-weight: 400;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   -o-box-sizing: border-box;
   box-sizing: border-box;
   overflow: hidden;
   text-decoration: none;
   text-align: center;
   display: block;
   position: relative;
   z-index: 1;
   width: 30px;
   height: 30px;
   line-height: 30px;
   font-size: 16px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   margin-right: 5px;
   color: #FFF;
   background-color: none;
}

.soc-icon-last {
   margin: 0 !important;
}

.soc-twitter {
   background-color: #4DA7DE;
}

.soc-twitter:before {
   content: 'a';
}

.soc-facebook {
   background-color: #3E5B98;
}

.soc-facebook:before {
   content: 'b';
}

.soc-google {
   background-color: #D93E2D;
}

.soc-google:before {
   content: 'c';
}

.soc-pinterest {
   background-color: #C92619;
}

.soc-pinterest:before {
   content: 'd';
}

/** Stream info */
.stream-info {
   padding-top: 15px;
}

.stream-info h3 {
   margin-top: 0px;
}

.live-label .label-default {
   background-color: red;
}

.views-label {
   padding-left: 0;
}

/** Carousel */

.video-carousel {
   margin-top: 30px;
}

.video-carousel h3 {
   background: #FFF;
   color: #3498DB;
   font-size: 36px;
   line-height: 100px;
   margin: 10px;
   padding: 2%;
   position: relative;
   text-align: center;
}

.video-carousel img {
   cursor: pointer;
   margin: 10px;
   padding: 2%;
   max-width: 250px;
   height: auto;
}

.video-thumbnail {
   position: relative;
}

.video-thumbnail .play-icon{
   cursor: pointer;
   position: absolute;
   top : 50%;
   left : 50%;
   transform: translate(-50%, -50%);
}

svg:hover #play-svg{
   fill: #CC181E;
}

/** Intro Section */
.channel-intro {
   text-align: center;
   font-size: 24px;
   font-weight: 100;
   margin-bottom: 25px;
}






